Package: fs2xplane
Section: graphics
Priority: extra
Architecture: i386
Installed-Size: 3944
Depends: bash, python (>=2.4), python-gtk2 (>=2.6), python-opengl (>=2.0), wine
Provides: fs2xplane
Maintainer: Jonathan Harris <x-plane@marginal.org.uk>
Description: MSFS add-on scenery converter for X-Plane
 This application converts MS Flight Simulator 2004 add-on scenery packages to X-Plane DSF overlay scenery packages for X-Plane 8.60 or later.
