[Desktop Entry]
Version=1.0
Name=FS2XPlane
Comment=MSFS add-on scenery converter for X-Plane
Exec=fs2xplane
Icon=fs2xplane
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Graphics;
